streamlit>=1.36.0
flask>=3.0.3
fastapi>=0.111.1
uvicorn>=0.30.1
gunicorn>=23.0.0
locust>=2.29.1
tiktoken>=0.6.0
blobfile>=2.1.1
fairscale>=0.4.13
fire
trl
neuron
ray[serve]>=2.37.0
# torch==2.3.1
# torchvision==0.18.1
# torchaudio==2.3.1
# torch-xla>=2.3.1

